
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    /*Reset*/
font-family:"Raleway","Sans-serif";
margin:0;
padding:0;
}
body{
    margin-top:3%;
    margin-bottom:2%;
    padding: 0%;
    justify-items: center;
}
a{
    color: inherit;
    text-decoration: none;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: auto;
}
nav a{
    padding: 16px;
}
/*Logo*/
#logo{
    margin-left: 5%;
    margin-right: auto;
    padding: 0 2px;
    height: 40px;
}
.heberg:hover{
    color: blue;
    border-top: #0065fc 3px solid;
}
.top-nav{
    display:block;
    font-size: medium;
    font-weight: 400;
}
.all{
margin-bottom: 8px;
padding: 4%;
}
h1{
    font-size: larger;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 3px;
}
/* search ville */
.search-ville{
display: flex;
}
.fa-solid{
    background-color:#f2f2f2;
    padding: 16px 16px;
    border-radius: 16px 0 0 16px;
    color: black;
}
.search-ville input{
    padding-right: 20px;
    border-color:transparent ;
}
.search-ville input::placeholder{
  color: black;
  font-weight: bold;
  font-size: large;
  padding: 8px 8px 8px 8px;
  margin-right: 5px;
  width: fit-content;
}
.search-ville button{
    background-color: #0065fc;
    font-weight: bold;
    color: white;
    font-size:medium;
    border-radius: 0 16px 16px 0;
    border: navajowhite;
    padding: 8px;
    cursor: pointer;
    width: 12%;
}
.search-icon{
    display:none;
}
.fa-magnifying-glass{
    display: none;
}
.all p, .all h1{
 margin-bottom: 1%;  
}
/* filters */
.filter-list{
    display: flex;
    align-items:center;
    gap: 16PX;
    flex-wrap: wrap;
}
.filter{
    border: 1px solid lightgrey;
    border-radius: 2rem;
    align-items: center;
 margin-top: 20px;
}
.fa-money-bill-wave,.fa-child-reaching, .fa-heart, .fa-dog{
    background-color:lightblue;
    color: blue;
    padding: 1rem;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}
.fa-child-reaching .fa-heart{
    height: 16px;
    width: 16px;
}
.filter span{
    font-weight: bold;
    padding: 10px;
}
.info-note{
    display: inline-block;
    gap: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}
.info-note .fa-info{
    display: inline-block;
    color: #0065fc;
    border: 2px solid lightgray;
    border-radius: 50%;
    border-color: lightgrey;
    background-color: transparent;
justify-items: center;
    font-weight:bolder;
    width: 5px;
    height: 5px;
}
#result-note{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: auto;
font-size:medium;
font-weight: 500;
}
/* results-list */
.Hébergements{
    display:flex;
    gap: 2%;
justify-content: center;
flex-direction: row-reverse
}
.Hébergements> div{
background-color:#f2f2f2;
padding:1%; 
border-radius: 16px;
}
/*Hébergements à Marseille*/
.Heberg-Marseille{
    flex-basis: 65%;    
}
.Heberg-Marseille a{
    font-weight: bold;
}
.Hebergements-list{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.Hebergements-list div{
    flex-basis: 30%;
    border-radius: 8%;
    background-color: white;
}
/*les 6 cartes des hébergements*/
.hotel-card{
    height: 250PX;
    width: 100%;
    border-radius: 2%;
  margin-bottom: 16px;
  padding-bottom: 0%;
  object-fit: cover;
  object-position: center;
}
.hotel-name{
 font-weight: 600;
  margin: 0.5%;
  padding-left: 4%;
}
.hotel-card p{
    padding-left: 4%;
    margin: 0.5%;
    padding-left: 4%;
}
.IMG{
width: 92%;
height: 55%;
border-radius: 32px 32px 0px 0px;
padding: 4% 5% 5% 4%;
margin-bottom: auto;
object-fit: cover;
}
.fa-star{
    color: blue;
    background-color: white;
    display: inline-flex;
padding: 0%;
margin-bottom:2px;
}
.lightgrey {
color:darkgrey;
}
/* plus populaires */
.Hébergements .populaires{
    flex-basis: 33%;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}
.black{
    color: black;
    background-color: inherit;
}
.populaires h3{
    display: flex;
    justify-content:space-between;
}
.populaires h4{
    flex-wrap: wrap;
}
.popular-list{
   display: flex;
   flex-direction: column;
   flex-basis: 30%;
   display: flex;
height: 90%;
border-radius: 2%;
gap: 2%;
}
/*les 3 cartes des "plus populaires"*/
.popular-card{
    display: flex;
    background-color: white;
    margin-bottom: 2%;
    height: 32%;
    width: auto;
  border-radius: 8px;
  box-sizing: border-box;
}
.popular-card .stars{
    margin-top: auto;
}
.popular-card img{
    height: 90%;
    width: 40%;
    border-radius: 18px 0 0 18px;
    padding:2%;
    object-fit: cover;
}
.popular-img3{
display: flex;
flex-basis: 80%;
}
.popular-img3 img{
    width: 100%;
    height: 94%;
    padding: 3%;
}
.popular-card-info{
    display: flex ;  
 flex-direction: column;
 margin: 1%;
 flex-basis: 100%;
 padding-left: 1%;
}
/* activités */
#Activités{
margin: 0%;
height: 8%;
margin-top: 16px;
margin-bottom: 10px;
}
h3{
    padding: 2%;
}
.activity-results{
    display: flex;
    gap: 2%;
    overflow: hidden;
    height: 100%;
}
.activity-name{
    width: 100%;
    font-weight:bold ;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.activity-results img{
    border-radius: 16px 16px 0px 0px;
   object-fit:cover;
}
/*column 1 des activités*/ 
.column1{
    height: auto;
    margin-top: 1PX;
    margin-left: 0px;
    flex-basis: 23%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
}
.big-img{
    height: 90%;
    width: 100%;
   object-fit: cover;
}
/*column 2 des activités avec 2images*/
.column2{
    flex-basis: 23%;
    height: 100%;
    justify-content: space-between;
}
/*1ere partie de column 2 activités*/
.top-part{
    height: 50%;
    width: 100%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
    margin-bottom: 10%;
}
.img-top-part{
    height: 250px;
    width: 100%;
}
/*2éme partie de column 2 activités */
.bottom-part{
    height: 40%;
    width: 100%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
}
.img-bottom-part{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
/*column 3 des activités avec 1grande image*/
.column3{
    height: auto;
    flex-basis: 23%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
}
.big-img2{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*Column 4 des activités avec 2 images*/
.column4{
    height: 100%;
    flex-basis: 23%;
    margin-right: 0%;
    margin-bottom: 0px;
}
/*1ère partie du column4 des activités*/
.part-haut{
    width: 100%;
    height: 50%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
    margin-bottom: 33%;
}
.part-haut-img{
    height: 70%;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
/*2eme partie du column4 activités*/
.part-bas{
    height: 50%;
    border: #DEEBFF solid 2px;
    border-radius: 16px;
}
.part-bas-img{
    height:70%;
    width: 100%;
}
/*début footer*/
.footer{
    background-color: #f2f2f2;
    margin-left:0%;
   width:100%;
    display: flex;
    margin-top: 16px;
    margin-bottom: 0%;
    justify-content: space-between;
}
.FooterNavli{
    list-style-type: none; 
    margin: 0%;
    padding-top: 8px;
}
.footer-part{
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
   padding-left: 5px;
  margin: 8px;
}
.FooterNav{
    font-weight: 400;
    font-size: medium;
    margin: 0;
}
footer h4{
    font-weight: bold;
    font-size: larger;
}
.linkfooter:hover{
    color: #0065fc;
}
/* La partie suivante ne s'affiche pas sur la version desktop */ 
.activité-responsive{
    display: none;
}
/* Responsive tablette */
@media screen and (max-width:992px) {   
.filter-list{
    flex-wrap: wrap;
}
.Hébergements{
flex-direction: column;
}
.Heberg-Marseille{
    flex-wrap: wrap;
 flex-direction: column;
}
.populaires img{
    height:180px;
    width: 220px;
    padding: 8px;
}
.activités{
    display: none;
}
.activité-responsive{
    display: flex;
    flex-direction: column;
}
.card{
    width: 96%;
    height: 100%;
    padding: 10px;
    border-radius: 6%;
    box-sizing: border-box;    
}
.card img{
    width: 100%;
    height: 180px;
    border-radius: 12px 12px 0 0;
    justify-self: center;
    object-fit: cover;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 2%;
    justify-content:space-between ;
}
}
/* responsive téléphones portables */
@media screen and (max-width: 767px) {
    /*Logo version mobile*/
    #logo{
      margin-left: 10%;
      margin-bottom: 5%;
    }
      .top-nav{
    flex-wrap: wrap;} 
    header nav{
      flex-direction: column;
      gap: 25%;
      align-items: flex-start;
    }
    .heberg:hover{
        color: blue;
        border-bottom: #0065fc 5px solid;
    }
    /*filtres version mobile*/
    .filter-list{
      flex-direction: column;
      align-items: flex-start;
    }
    /*loupe en version mobile*/
    .fa-magnifying-glass{
        display: block;
        background-color: #0065fc;
        color: #DEEBFF;
    }
    .search-ville button span{
        display: none;
    }

    /*Hébergements version mobile*/
    .Hébergements{
      flex-direction: column;
    }
    .Hebergements-list{
    flex-direction: column;
    }
    .popular-img3{
        height: 135px;
    }
    /*les 6 images des hébergements à Marseilles */
    .IMG{
        height: 120px;
        width: 96%;
        padding:0%;
        border-radius: 16px 16px 0px 0px;
        object-fit: cover;
        overflow: hidden;
    }
   .activité-responsive{
    display: flex;
    flex-direction: column;
    gap: 2%;
   }
   .card{
width: 95%;
flex-basis: 15%;
height:80%;
   }
    .footer{
      display: flex;
      flex-direction: column;
justify-content: space-between;
background-color: #f2f2f2;
margin-top: 2%;
    }
    .FooterNav{
    gap: 1%;
    }
    }
   