@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  /*Reset*/
  font-family: "Raleway", "Sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 0%;
  padding: 0%;
  justify-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  padding: 2% 3% 0% 3%;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 2%;
  width: 100%;
  padding: 0.5%;
}
.top-nav a {
  padding: 16px;
}
/*Logo*/
.logo {
  margin-left: 0px;
}
.logo img {
  margin-right: auto;
  height: 45px;
}
.heberg:hover {
  color: blue;
  border-top: #0065fc 3px solid;
}
.activit:hover {
  color: blue;
  border-top: #0065fc 3px solid;
}
.top-nav {
  display: block;
  font-size: medium;
  font-weight: 500;
}
h1 {
  font-size: 20px;
  font-weight: 800;
  margin: 1% 0;
}
.sous-titre {
  font-size: medium;
  margin-bottom: 2%;
  font-weight: 500;
}
/* recherche ville */
.recherche-ville {
  display: flex;
}
.fa-location-dot {
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 16px 0 0 16px;
  color: black;
  display: flex;
  justify-content: center;
}
.recherche-ville input {
  padding: 14px 50px 14px 14px;
  border: #f2f2f2 solid 1px;
}
.recherche-ville input::placeholder {
  color: black;
  font-weight: bold;
  font-size: large;
  margin-right: 5px;
  width: fit-content;
}
.recherche-ville button {
  background-color: #0065fc;
  font-weight: 600;
  color: white;
  font-size: medium;
  border-radius: 0 16px 16px 0;
  padding: 4px;
  cursor: pointer;
  width: 12%;
  border: none;
}
.search-icon {
  display: none;
}
.fa-magnifying-glass {
  display: none;
}
/* filtres */
.liste-filtres {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  flex-wrap: wrap;
}
.filtre {
  border: 2px solid lightgray;
  border-radius: 25px;
  align-items: center;
  margin-top: 20px;
  border-left: none;
  cursor: pointer;
}
.filtre:hover {
  color: #0065fc;
}
.liste-filtres h2 {
  font-weight: 700;
  font-size: large;
  display: flex;
  padding: 16px 20px 0 0;
}
.fa-money-bill-wave,
.fa-child-reaching,
.fa-heart,
.fa-dog {
  background-color: #deebff;
  color: #0065fc;
  padding: 16px;
  border-radius: 50%;
  object-fit: fill;
}
.filtre span {
  font-weight: bolder;
  padding: 12px;
  font-size: large;
}
.filtres-mobile {
  display: flex;
  gap: 16px;
  border-left: none;
}
.nombre {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 32px 0px;
}
.fa-info {
  color: #0065fc;
  border: 1px solid lightgrey;
  border-radius: 50%;
  background-color: transparent;
  font-weight: bolder;
  width: 4px;
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: small;
}
#résultat-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 32px;
  font-size: medium;
  font-weight: 500;
}
/* liste des résultats */
.Hébergements {
  display: flex;
  gap: 2%;
  justify-content: center;
  padding: 0px 3%;
}
/*Hébergements à Marseille*/
.Heberg-Marseille {
  width: 66%;
  background-color: #f2f2f2;
  padding: 0 2% 2% 2%;
  border-radius: 16px;
}
.plus-lien {
  font-weight: BOLD;
  font-size: LARGE;
  padding: 2%;
}
h3 {
  font-size: larger;
}
.Heberg-Marseille h3 {
  margin: 20px 2% 20px 2%;
}
.liste-hébergements {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*les 6 cartes des hébergements*/
.hotel-card {
  height: 220px;
  margin-bottom: 3%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 30%;
  border-radius: 8%;
  background-color: white;
  cursor: pointer;
  transition: 0.1s;
}
.hotel-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 33%;
  width: 100%;
}
.liste-hébergements h4 {
  font-weight: bolder;
  padding-left: 20px;
  margin: 4px 0 6px;
}
.liste-hébergements p {
  padding-left: 20px;
  margin-bottom: 2%;
}
.IMG {
  width: 100%;
  height: 55%;
  border-radius: 20px 20px 0px 0px;
  padding: 2%;
  object-fit: cover;
}
.fa-star {
  color: blue;
  background-color: white;
  display: inline-flex;
  padding: 0%;
  margin-bottom: 2px;
}
.lightgrey {
  color: darkgrey;
}
/* plus populaires */
.populaires {
  width: 33%;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f2f2f2;
  border-radius: 16px;
}
.black {
  color: black;
  background-color: inherit;
}
.populaires h3 {
  display: flex;
  justify-content: space-between;
  margin: 20px 6% 20px 6%;
}
.populaires h4 {
  margin-bottom: 8px;
}
.liste-populaire {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2%;
  justify-content: space-around;
  align-self: center;
}
/*les 3 cartes des "plus populaires"*/
.popular-card {
  display: flex;
  background-color: white;
  width: auto;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin:0px 6% 6% 6%;
}
.popular-card .étoiles {
  margin-top: auto;
}
.popular-card img {
  height: 160px;
  min-width: 150px;
  border-radius: 14px 0 0 14px;
  object-fit: cover;
  width: 30%;
  padding: 1%;
}
.popular-card-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 10px;
  margin: 5% 0%;
}
/* activités */
#Activités {
  padding: 0 3%;
  margin-top: 4%;
}
#Activités h3 {
  margin: 20px 0 30px 0;
}
.liste-activités {
  display: flex;
  gap: 2.65%;
}
#Activités h4 {
  width: 100%;
  font-weight: bold;
  padding: 8px;
  margin: auto;
}
.liste-activités img {
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}
/*column 1 des activités*/
.grande-colonne {
  width: 23%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.grande-img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}
/*column 2 des activités avec 2images*/
.colonne2 {
  width: 23%;
  justify-content: space-between;
  height: 100%;
}
/*1ere partie de column 2 activités*/
.premiére-partie {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 55%;
}
.img-premiére-partie {
  height: 80%;
  width: 100%;
}
/*2éme partie de column 2 activités */
.deuxiéme-partie {
  height: 35%;
  width: 100%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.img-deuxiéme-partie {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
/*Column 4 des activités avec 2 images*/
.colonne4 {
  height: 100%;
  width: 23%;
  justify-content: space-between;
}
/*1ère partie du column4 des activités*/
.partie-haut {
  width: 100%;
  height: 40%;
  border-radius: 16px;
  margin-bottom: 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
}
.partie-haut-img {
  height: 80%;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
/*2eme partie du column4 activités*/
.partie-bas {
  height: 50%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.partie-bas-img {
  height: 80%;
  width: 100%;
}
.liste-activités > div {
  height: 450px;
  display: flex;
  flex-direction: column;
}
/*début footer*/
.footer {
  background-color: #f2f2f2;
  display: flex;
  margin-top: 5%;
  padding: 2% 0px;
  width: 100%;
}
.FooterNavli {
  list-style-type: none;
  margin: 0%;
  padding-top: 3%;
  font-weight: 500;
}
.footer-colonne {
  display: flex;
  width: 31%;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;
  padding-left: 3%;
}
.FooterNav {
  font-weight: 400;
  font-size: medium;
  margin: 0;
}
.footer h4 {
  font-weight: bold;
  font-size: larger;
}
.LienFooter:hover {
  color: #0065fc;
}
/* Responsive tablette */
@media screen and (max-width: 992px) {
  .recherche-ville button {
    width: 15%;
  }
  .filtres-mobile {
    display: flex;
    gap: 16px;
    border-left: none;
  }
  .Hébergements {
    flex-direction: column-reverse;
    width: 100%;
  }
  .Heberg-Marseille {
    margin-top: 10%;
    width: 100%;
  }
  .populaires {
    width: 100%;
    align-items: center;
  }
  .populaires img {
    height: 180px;
    padding: 8px;
  }
  .popular-card {
    align-self: center;
  }
  .liste-activités {
    display: block;
    padding-right: 0%;
    width: 100%;
  }
  .colonne2,
  .colonne4 {
    width: 100%;
  }
  .grande-colonne,
  .partie-haut,
  .partie-bas,
  .premiére-partie,
  .deuxiéme-partie {
    height: 100%;
    padding: 1% 0% 1% 1%;
    border-radius: 8px;
    margin-bottom: 5%;
    width: 100%;
  }
  .liste-activités > div {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #Activités {
    width: 100%;
  }
  #Activités img {
    width: 99%;
    height: 150px;
    border-radius: 12px 12px 0 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 2%;
    justify-content: space-between;
  }
  .footer-colonne {
    width: 100%;
  }
}
/* responsive téléphones portables */
@media screen and (max-width: 767px) {
  /*Logo version mobile*/
  .logo {
    display: block;
    margin: 8%;
    text-align: center;
  }
  .logo img {
    height: 60px;
  }
  .top-nav a {
    padding: 2%;
    border-top: none;
    justify-content: space-between;
  }
  .heberg:hover {
    color: blue;
    border-bottom: #0065fc 3px solid;
    border-top: none;
  }
  .activit:hover {
    color: blue;
    border-bottom: #0065fc 3px solid;
    border-top: none;
    border-width: 100%;
  }
  .top-nav {
    margin-bottom: 8%;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #f2f2f2;
    padding: 0%;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
  }
  header nav {
    display: block;
    margin: 0%;
  }
  .sous-titre {
    margin: 5% 0;
  }
  /*filtres version mobile*/
  .liste-filtres {
    flex-direction: column;
    align-items: flex-start;
  }
  .filtres-mobile {
    display: flex;
    flex-direction: row;
    border-left: none;
    flex-wrap: wrap;
  }
  /*loupe en version mobile*/
  .fa-magnifying-glass {
    display: block;
    background-color: #0065fc;
    color: #deebff;
  }
  .recherche-ville button span {
    display: none;
  }
  /*Hébergements version mobile*/
  .Hébergements {
    flex-direction: column-reverse;
    padding: 0%;
  }
  .Hébergements > div {
    border-radius: 0%;
    padding-top: 0%;
  }
  /*section hotels plus populaires version mobile*/
  .popular-card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 88%;
    height: 160px;
  }
  .populaires {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 0px;
  }
  .popular-card img {
    border-radius: 16px 0 0 16px;
    padding: 1.5%;
    width: 30%;
    margin: 0%;
    height: 100%;
  }
  .popular-card-info {
    padding-left: 5px;
  }
  /*section hébergements à Marseille version mobile */
  .liste-hébergements {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    margin:0 0 4% 0;
    width: 100%;
  }
  .Heberg-Marseille {
    background-color: white;
    width: 100%;
    align-items: center;
    padding: 6%;
  }
  .Heberg-Marseille h3 {
    margin-top: 0%;
  }
  .hotel-card {
    border-radius: 20px;
    width: 100%;
  }
  #Hébergements {
    width: 100%;
  }
  /*les 6 images des hébergements à Marseilles */
  .IMG {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 1.5%;
    object-fit: cover;
    height: 65%;
  }
  /*section activités à Marseille version mobile*/
  #Activités {
    width: 100%;
    margin-top: 0px;
    padding: 0 6% 6% 6%;
  }
  /*Les 6 cartes d'activités à Marseille*/
  .grande-colonne,
  .partie-bas,
  .partie-haut,
  .premiére-partie,
  .deuxiéme-partie {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    border-radius: 20px;
    margin-bottom: 8%;
    padding: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #Activités img {
    width: 100%;
    object-fit: cover;
  }
  #Activités h4 {
    padding: 5%;
  }
  /*footer version mobile*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    width: 100%;
    padding-top: 5%;
  }
  .footer-colonne {
    gap: 15px;
    margin-bottom: 30px;
    width: 100%;
  }
}
