
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    /*Reset*/
font-family:"Raleway","Sans-serif";
margin:0;
padding:0;
}
body{
    margin-top:2%;
    margin-bottom:2%;
    padding: 0%;
    justify-items: center;
}
a{
    color: inherit;
    text-decoration: none;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    height: 50px;
    margin-left: 32px;
    margin-bottom: 25px;
}
.top-nav a{
padding: 16px;
}
/*Logo*/
#logo{
    margin-left: 4px;
    margin-right: auto;
    height: 45px;
}
.heberg:hover{
    color: blue;
    border-top: #0065fc 3px solid;
}
.activit:hover{
    color: blue;
    border-top: #0065fc 3px solid;
}
.top-nav{
    display:block;
    font-size: medium;
    font-weight: 400;
}
main{
margin: auto;
padding-left: 32px;
padding-right: 32px;
}
h1{
    font-size: 20px;
    font-weight: 800;
    margin-top: 1%;
    margin-bottom: 10px;
}
.sous-titre{
    font-size:medium;
margin-bottom: 13px;
font-weight: 500;
}
/* search ville */
.search-ville{
display: flex;
}
.fa-location-dot{
    background-color:#f2f2f2;
    padding:16px;
    border-radius: 16px 0 0 16px;
    color: black;
    width: 18px;
   display: flex;
   justify-content: center;
}
.search-ville input{
    padding: 14px;
    padding-right: 60px;
    border:#f2f2f2 solid 1px;
}
.search-ville input::placeholder{
  color: black;
  font-weight: bold;
  font-size: large;
  padding: 8px 8px 8px 8px;
  margin-right: 7px;
  width: fit-content;
}
.search-ville button{
    background-color: #0065fc;
    font-weight: 600;
    color: white;
    font-size:large;
    border-radius: 0 16px 16px 0;
    padding: 6px;
    cursor: pointer;
    width: 12%;
    border:none;
}
.search-icon{
    display:none;
}
.fa-magnifying-glass{
    display: none;
}
/* filters */
.filter-list{
    display: flex;
    align-items:center;
    gap: 16PX;
    margin-top: 16px;
}
.filter{
    border: 2px solid #f2f2f2;
    border-radius: 25PX;
    align-items: center;
 margin-top: 20px;
 border-left: none;
 cursor: pointer;
}
.filter:hover{
    color: #0065fc;
}
.filter-list h2{
font-weight: 800;
font-size:medium;
display: flex;
align-items: center;
justify-content: center;
margin-top: 16px;
margin-right: 20px;
}
.fa-money-bill-wave,.fa-child-reaching, .fa-heart, .fa-dog{
    background-color:#DEEBFF;
    color: #0065fc;
    padding: 16px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    object-fit:fill;
}
.filter span{
    font-weight: bold;
    padding: 10px;
}
.filtres-mobile{
    display: flex;
    gap: 16px;
    border-left: none;
}
.info-note{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}
.fa-info{
    color: #0065fc;
    border: 2px solid lightgray;
    border-radius: 50%;
    border-color: lightgrey;
    background-color: transparent;
    font-weight:bolder;
    width: 4px;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px ;
}
#result-note{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 32px;
font-size:medium;
font-weight: 500;
}
/* results-list */
.Hébergements{
    display:flex;
    gap: 2%;
justify-content: center;
flex-direction: row-reverse
}
.Hébergements> div{
background-color:#f2f2f2;
padding:1%; 
border-radius: 16px;
}
/*Hébergements à Marseille*/
.Heberg-Marseille{
    flex-basis: 65%;    
}
.Heberg-Marseille a{
    font-weight: bold;
}
.Hebergements-list{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.Hebergements-list div{
    flex-basis: 30%;
    border-radius: 8%;
    background-color: white;
}
/*les 6 cartes des hébergements*/
.hotel-card{
    height: 250PX;
    width: 100%;
    border-radius: 2%;
  margin-bottom: 16px;
  padding-bottom: 0%;
  object-fit: cover;
  object-position: center;
}
.Hebergements-list h4{
 font-weight: 600;
  margin-top: 4px;
  padding-left: 20PX;
  margin-bottom: 8px;
}
.Hebergements-list p{
    padding-left: 20px;
    margin-bottom: 8px;
}
.IMG{
width: 92%;
height: 55%;
border-radius: 32px 32px 0px 0px;
padding: 4% 5% 5% 4%;
margin-bottom: auto;
object-fit: cover;
}
.fa-star{
    color: blue;
    background-color: white;
    display: inline-flex;
padding: 0%;
margin-bottom:2px;
}
.lightgrey {
color:darkgrey;
}
/* plus populaires */
.Hébergements .populaires{
    flex-basis: 33%;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}
.black{
    color: black;
    background-color: inherit;
}
.populaires h3{
    display: flex;
    justify-content:space-between;
}
.populaires h4{
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.popular-list{
   display: flex;
   flex-direction: column;
   flex-basis: 30%;
   display: flex;
height: 90%;
border-radius: 2%;
gap: 2%;
}
/*les 3 cartes des "plus populaires"*/
.popular-card{
    display: flex;
    background-color: white;
 padding-bottom: 8px;
    flex-basis: 30%;
    width: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
}
.popular-card .stars{
    margin-top: auto;
}
.popular-card img{
    height: 160px;
    width: 150px;
    margin: 10px;
    padding-bottom: 2px;
    border-radius: 18px 0 0 18px;
    object-fit: cover;
}
.popular-card-info{
    display: flex ;  
 flex-direction: column;
 height:140px ;
 flex-basis: 40%;
 padding-left: 10px;
 margin-top: 16px;
 margin-bottom: 16px;
}
/* activités */
#Activités{
margin: 0%;
height: 8%;
margin-top: 16px;
margin-bottom: 10px;
}
h3{
    padding: 2%;
}
.activity-results{
    display: flex;
    gap: 2%;
    overflow: hidden;
    height: 100%;
}
.activity-name{
    width: 100%;
    font-weight:bold ;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.activity-results img{
    border-radius: 16px 16px 0px 0px;
   object-fit:cover;
}
/*column 1 des activités*/ 
.column1{
    height: auto;
    margin-top: 1PX;
    margin-left: 0px;
    flex-basis: 23%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
}
.big-img{
    height: 90%;
    width: 100%;
   object-fit: cover;
}
/*column 2 des activités avec 2images*/
.column2{
    flex-basis: 23%;
    height: 100%;
    justify-content: space-between;
}
/*1ere partie de column 2 activités*/
.top-part{
    height: 50%;
    width: 100%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
    margin-bottom: 10%;
}
.img-top-part{
    height: 250px;
    width: 100%;
}
/*2éme partie de column 2 activités */
.bottom-part{
    height: 40%;
    width: 100%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
}
.img-bottom-part{
    height: 70%;
    width: 100%;
    object-fit: cover;
}
/*column 3 des activités avec 1grande image*/
.column3{
    height: auto;
    flex-basis: 23%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
}
.big-img2{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*Column 4 des activités avec 2 images*/
.column4{
    height: 100%;
    flex-basis: 23%;
    margin-right: 0%;
    margin-bottom: 0px;
}
/*1ère partie du column4 des activités*/
.part-haut{
    width: 100%;
    height: 50%;
    border-radius: 16px;
    border: #DEEBFF solid 2px;
    margin-bottom: 33%;
}
.part-haut-img{
    height: 70%;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
/*2eme partie du column4 activités*/
.part-bas{
    height: 50%;
    border: #DEEBFF solid 2px;
    border-radius: 16px;
}
.part-bas-img{
    height:70%;
    width: 100%;
}
/*début footer*/
.footer{
    background-color: #f2f2f2;
   width:100%;
    display: flex;
    margin-top: 16px;
    margin-bottom: 0%;
    justify-content: space-between;
}
.FooterNavli{
    list-style-type: none; 
    margin: 0%;
    padding-top: 8px;
}
.footer-part{
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 20px;
    gap: 8px;
}
.FooterNav{
    font-weight: 400;
    font-size: medium;
    margin: 0;
}
.footer h4{
    font-weight: bold;
    font-size: larger;
}
.linkfooter:hover{
    color: #0065fc;
}
/* Responsive tablette */
@media screen and (max-width:992px) {   
.filter-list{
    flex-wrap: wrap;
}
.search-ville button{
    width: 15%;
}
.filtres-mobile{
    display: flex;
    gap: 16px;
    border-left: none;
}
.Hébergements{
flex-direction: column;
}
.Heberg-Marseille{
    flex-wrap: wrap;
 flex-direction: column;
}
.populaires img{
    height:180px;
    width: 220px;
    padding: 8px;
}
.activity-results{
    display: block;
}
.column1, .column3, .part-haut, .part-bas, .top-part, .bottom-part{
    width: 96%;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 14px;
}
.activités img{
    width: 100%;
    height: 180px;
    border-radius: 12px 12px 0 0;
    justify-self: center;
    object-fit: cover;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 2%;
    justify-content:space-between ;
}
}
/* responsive téléphones portables */
@media screen and (max-width: 767px) {
    /*Logo version mobile*/
    #logo{
      margin-left: 10%;
      margin-bottom: 5%;
    }
      .top-nav{
    flex-wrap: wrap;}

    header nav{
      flex-direction: column;
      gap: 25%;
      align-items: flex-start;
    }
    .heberg:hover{
        color: blue;
        border-bottom: #0065fc 5px solid;
    }
    /*filtres version mobile*/
    .filter-list{
      flex-direction: column;
      align-items: flex-start;
    }
    .filtres-mobile{
        display: flex;
flex-direction: row;
border-left: none;
    }
    /*loupe en version mobile*/
    .fa-magnifying-glass{
        display: block;
        background-color: #0065fc;
        color: #DEEBFF;
    }
    .search-ville button span{
        display: none;
    }

    /*Hébergements version mobile*/
    .top-nav a{
        border-top: none;
        flex-wrap: wrap;
    }
    .heberg:hover{
        border-bottom: #0065fc 5px solid;
    }
    .Hébergements{
      flex-direction: column;
    }
    .Hebergements-list{
    flex-direction: column;
    }
    /*les 6 images des hébergements à Marseilles */
    .IMG{
        height: 120px;
        width: 96%;
        padding:0%;
        border-radius: 16px 16px 0px 0px;
        object-fit: cover;
        overflow: hidden;
    }
   .activité-responsive{
    display: flex;
    flex-direction: column;
    gap: 2%;
   }
   .activités img{
    padding: 0%;
   }
    .footer{
      display: flex;
      flex-direction: column;
justify-content: space-between;
background-color: #f2f2f2;
margin-top: 5%;
    }
    .footer-part{
    gap: 15px;
    margin-bottom: 30px;
    }
    }
   